@{
    ViewData["Title"] = "Subir fichero";
}


<div class="card">
    <div class="card-body">
        <h4>Subir fichero de actualizaci&oacute;n de tiempos de cambio</h4>

        <form enctype="multipart/form-data" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group mb-4">
                        <label class="form-label" for="defaultFile">Seleccionar fichero</label>
                        <input type="file" name="files" class="form-control" id="defaultFile" />
                    </div>
                    <div class="form-group mb-4">
                        <input type="submit" class="btn btn-primary" value="Subir" />
                    </div>
                </div>
            </div>
        </form>

        <div>
            <a asp-action="Index">Volver</a>
        </div>
    </div>
</div>
