@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro";
    ViewData["AppClass"] = "app-full-height app-without-header app-full-width";
    ViewData["AppWithoutHeader"] = true;
    ViewData["AppWithoutSidebar"] = true;
    ViewData["AppWithoutContainer"] = true;
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Se ha registrado correctamente. El administrador del sitio debe validarle como usuario. Cuando esto ocurra podrá acceder al sitio.
    <a href="/Home">Volver a inicio</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
